*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

header,
footer {
  display: flex;
  flex-direction: row;
  margin: 4px;
  padding: 5px;
  min-height: 200px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #fcfbfb;
}

.title-img {
  display: flex;
  background-image: url(/src/picture/main_image.webp);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 460px;
  min-height: 300px;
  flex: 0 1 100%;
}
.map {
  display: flex;
  flex-direction: column;
}
.img-desc {
  font-size: 1rem;
  line-height: 1.2rem;
  flex: 1 0 30%;
  flex-direction: column;
  text-align: center;
  margin: 4px;
  padding: 5px;
}

.header-title {
  display: flex;
  flex: 0 1 60%;
  max-height: 100%;
  min-height: 20%;
  margin: 0 auto;
  justify-content: space-around;
  /* flex-direction: column; */
  text-align: justify;
}

.climatedesc {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 4px;
  padding: 5px;
}

.text-header {
  font-size: 1.2rem;
  line-height: 1.5rem;
  overflow: visible;
  text-align: justify;
}

.last-text-header {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
}

main {
  min-height: 800px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

main > article {
  margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
  background-color: #dddd88;
  flex: 3 1 60%;
  order: 2;
}

main > nav,
main > aside {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  flex: 1 6 20%;
  order: 1;
}

main > aside {
  order: 3;
}

@media all and (max-width: 768px) {
  .title-img {
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    background-size: contain;
  }

  .text-header {
    display: flex;
    font-size: 1rem;
    align-content: center;
  }

  .last-text-header {
    visibility: hidden;
  }

  main {
    flex-direction: column;
  }

  header,
  footer {
    flex-direction: column;
  }

  main > article,
  main > nav,
  main > aside {
    order: 0;
  }

  main > nav,
  main > aside,
  header,
  footer {
    min-height: 150px;
    max-height: 650px;
  }
}

@media all and (max-width: 480px) {
  .title-img {
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    background-size: cover;
  }

  .text-header {
    font-size: 1rem;
  }

  main {
    flex-direction: column;
  }

  header,
  footer {
    flex-direction: column;
  }

  main > article,
  main > nav,
  main > aside {
    order: 0;
  }

  main > nav,
  main > aside,
  header,
  footer {
    min-height: 150px;
    max-height: 650px;
  }
}
